* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0px;
}

/* Style the search box */
.searchbox {
    margin-top: 15px;
}

/* Style the top search bar */
.searchbar {
    padding: 4px 0 0 150px;
}

input[type=text] {
    width: 638px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    padding-left: 20px;
}

/* Highlight input bar on hover */
input[type=text]:hover {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Style search button */
.searchbutton {
    position: absolute;
    top: 28px;
    margin-left: 600px;
    color: #4285f4;
    background-color: transparent;
    border: 0px;
}

/* Style the logo */
.logo {
    position: absolute;
    top: 16px;
    padding: 12px 28px 0 30px;
}

/* Style the navigation bar */
.navbar {
    margin-left: 160px;
    display: flex;
}

/* Style the navigation bar links */
.navbar a {
    color: rgb(95,99,104);
    padding: 16px 12px 12px 0;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    color:rgb(26,115,232);
}

/* Style for search status */
.searchstatus {
    margin-left: 160px; 
    font-size: small; 
    width: 100%;
    color: rgb(95,99,104);
}

/* Column container */
.container {
    display: flex;
    flex-direction: row;
}

/* Create two unequal columns that sits next to each other */
/* Main column */
.main {
    flex: 40%;
    padding: 20px 10px 20px 160px;
}

.main div {
    margin-bottom: 30px;
}

.main a {
    color: rgb(26,13,171);
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.main a:hover {
    text-decoration: underline;
}

.main cite {
    font-size: 14px;
    font-style: normal;
    color: #006621
}

.main h3 {
    font-size: 18px !important;
    font-weight: normal;
    color: rgb(34, 34, 34);
}

.main p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
    color: #545454;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -4px -19px -4px -20px;
}

.mediabox {
    flex: 30%;
    width: 207px;
    height: 288px;
    margin: 4px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
}

.mediaimg {
    border-image-slice: 100%;
    border-image-repeat: stretch;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 12px;
}

/* Sidebar/right column */
.side {
    flex: 20%;
    padding-top: 20px;
}

/* Footer */
.footer {
    padding: 12px 10px 12px 160px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: small;
    color: #5f6368;
}

.footer a {
    margin-right: 24px;
    color: #5f6368;
    font-size: small;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.footer a:hover {
    color: rgb(51, 51, 51);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .container, .navbar {
        flex-direction: column;
    }
}